<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @name %>!</h1>
    <p>
      The status of your appointment at Nutrium with 
      <strong><%= @nutritionist %></strong> at 
      <strong><%= @date %></strong> has been updated to: 
      <strong><%= @status %></strong>.
    </p>
    <p>Thank you for using our services.</p>
  </body>
</html>